#search{width:100%;margin:10px 0;}
.header-action {
    position: fixed;
    border-radius: 0;
    width: 100%;
    padding: 0 10px 6px 10px;
}
.header-action .btn {
    background: #3884fc;
    color: #fff;
    font-size: 12px;
    line-height: 2.4rem;
    min-width: 1.2rem;
    height: 2.4rem;
    padding: 0 1rem;
}
.main{margin-top:50px;}
